header{
    background-color:#cfc7c7 ;
    color:rgb(235, 222, 222);
}


h1{
    text-align: center;
    font: size 110;
    text-transform: uppercase;
}
nav,a{
    color:rgb(8,8,8);
    background-color: #e6dddd;
    background-image: url("images/flywheel.jpeg");
    display:inline-block;
}
section{
    background-color:rgb(90, 85, 85) ;
}
h2{
    color:rgb(28, 28, 102);
    text-transform: uppercase;
}
li,a{
    color:rgb(8,8,8);
    background-color:#e6dddd;
    display:inline-table;
}
img{
    display:none;
}

body{
    padding:10px;
    margin:1px;
}